@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
}

div.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: azure;
}